
nav {
    padding: .5em;
    position: sticky, absolute;
    top: 0px; 
    background-color: white;
    
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    background-color: white;
}
nav a {
    display: block;
    text-decoration: none;
    padding: .5em 1em;
    position: sticky;
    background-color: white;
}


hr{
    position: absolute;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    background-color: #000000;
    
}
  
h1{
    /* margin-top: 3em; */
    font-family:fantasy;
    color:#622569;
  
} 
h2{
    font-family: Courier;
    color:#622569;
} 
h3{
    font-family: cursive;
    color:#622569;
} h4{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#622569;
    display: inline;
    
} h5{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#622569;
} h6{
    font-family: monospace;
    color:#622569;
} 


#syd, #intro, #myHeader, #proj, #intro2, #cu, #ed, #tk, #edd, #brain, #skill, #tS, #h, #s{
    list-style: none;
    display:block;
    position: relative;
    top:80px;
    margin: auto;
    padding: 5px;
    list-style: none;
    text-align: center;
    width: 25%;
    height: 100%;
}

#tS{
    border: 1px solid;
}

#edd{
    width:100%;
    margin: 20px;
  
}

#tk{
    text-align: left;
}
#ed{
    width:100%;
}

#cu{
    width:50%;
}

#intro{
    text-align: left;

}
#intro2{
    text-align: left;
}

p{
    font-family: monospace;
    color:#622569;
    font-size: 12px;
}


ul {
    list-style: none;
}

ul li::before  {
    padding-right: 5px; 
}

li:nth-child(1):before {
    color:#622569;
}

li:nth-child(2):before {
    color: #5b9aa0;
}

li:nth-child(3):before {
    color: #b8a9c9;
}

li { color: #622569; }

a:link{
    color:#622569;
}
a:visited {
  color: #5b9aa0;
}
a:hover {
    text-decoration: none;
    color: #b8a9c9;
}

.grid-container{
    grid-template-columns: auto auto;
    margin: auto;
    width: 50%;
    padding: 10px;
    display:grid;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    align-content: center;
   
}
  
.grid-item {
    font-size: 12px;
    display: flex;

}

.grid-word{
    font-size: 12px;
    display: flex;
    align-items: center;
    
}


#one{
    margin: 10px;
    max-width: 200px;
    float: left;
    
}
#two{
    margin: 10px;
    max-width: 200px;
    float: left;
}
#three{
    margin: 10px;
    max-width: 200px;
    float: left;
}
#four{
    margin: 10px;
    max-width: 200px;
    float: left;
}



.button1 {
    position: relative;
    top: -46em;  
    display: block;
    margin-left: auto;
    margin-right: 50em;
    background-color:#622569;
    border-radius: 8px;
    border: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.button2 {
    position: relative;
    top: -46em;  
    display: block;
    margin-left: auto;
    margin-right: 50em;
    background-color: #b8a9c9;
    border-radius: 8px;
    border: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.button3 {
    position: relative;
    top: -46em;  
    display: block;
    margin-left: auto;
    margin-right: 50em;
    background-color: #5b9aa0;
    border-radius: 8px;
    border: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.photos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
}

ul li { 
    padding: 5px 0px; 
}


/* #skillsH{
   margin-right: 20em;
} */
