h1{
    margin-top: 3em;
    font-family:fantasy;
    color:#622569;
} 
h2{
    font-family: Courier;
    color:#622569;
} h3{
    font-family: cursive;
    color:#622569;
} h4{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#622569;
} h5{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#622569;
} h6{
    font-family: monospace;
    color:#622569;
} 
body {
    padding: 5em;
    float: right;
}
body p{
    margin-right: 15em;
}

p{
    font-family: monospace;
    color:#622569;
    font-size: 12px;
}
#MeHeader{
    padding-left: 100px;
}

ul {list-style: none}

ul li::before  {
    padding-right: 5px;
    
}

li:nth-child(1):before {
    color:#622569;
}

li:nth-child(2):before {
    color: #5b9aa0;
}

li:nth-child(3):before {
    color: #b8a9c9;
}

li { color: #622569; }

a:link{
    color:#622569;
}
a:visited {
  color: #5b9aa0;
}
a:hover {
    text-decoration: none;
    color: #b8a9c9;
}
h1:not(a:hover){
    color:#622569;
}
.grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px; 
  }
  

img{
    max-height: 100%;
    height: 18em;
    padding: 5em; 
    float: left;
   }

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    background-color: #b8a9c9;
    
}

.button1 {
    position: relative;
    top: -46em;  
    display: block;
    margin-left: auto;
    margin-right: 50em;
    background-color:#622569;
    border-radius: 8px;
    border: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.button2 {
    position: relative;
    top: -46em;  
    display: block;
    margin-left: auto;
    margin-right: 50em;
    background-color: #b8a9c9;
    border-radius: 8px;
    border: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.button3 {
    position: relative;
    top: -46em;  
    display: block;
    margin-left: auto;
    margin-right: 50em;
    background-color: #5b9aa0;
    border-radius: 8px;
    border: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

nav {
    background-color: white;
    padding: .5em;
    position: sticky;
    top: 0; 
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }

  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
  }



@media screen and (max-width: 400px) {
    h1{
        color: aqua;
        float: right;
        margin-top: 8em;
        margin-right: -9em;
        font-size: 20px;
    }
    body{
        background-color: #622569;
    }
    body p{
        color: aqua;
       
        margin-top: 1em;
        margin-right: -11em;
        margin-left: 30em;
        float: right;
        font-size: 12px;
    }
    img{
        max-height: 100%;
        height: 8em;
        padding: 1em; 
        float: right;
        margin-right: -7em;
    }
    nav {
        background-color: white;
        padding: .1em;
        
        margin-right: -6.5em;
        margin-left: 22em;
    }
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        
        display: flex;
        justify-content: space-evenly;
    }
    nav a {
        color: #fff;
        text-decoration: none;
        padding: .1em .1em;
    }
    hr{
        display: none;
    }
    .grid {
        margin: 0 auto;
        padding: 0 20px;
        max-width: 980px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px; 
    }
}
@media screen and (min-width: 1900px) {
    .grid {
        margin: 0 auto;
        padding: 0 20px;
        max-width: 980px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px; 
    }
    body{
        background-color:  #5b9aa0;;
    }
   
}
