h1{
    margin-top: 3em;
    font-family:fantasy;
    color:#622569;
} 
h2{
    font-family: Courier;
    color:#622569;
} h3{
    font-family: cursive;
    color:#622569;
} h4{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#622569;
    display: inline;
} h5{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#622569;
} h6{
    font-family: monospace;
    color:#622569;
} 
body {
    padding: 5em;
 
}
body p{
    margin-right: 15em;
   
}

p{
    font-family: monospace;
    color:#622569;
    font-size: 12px;
}
#myHeader{
   margin-left: 22em;
}

ul {list-style: none}

ul li::before  {
    padding-right: 5px; 
}

li:nth-child(1):before {
    color:#622569;
}

li:nth-child(2):before {
    color: #5b9aa0;
}

li:nth-child(3):before {
    color: #b8a9c9;
}

li { color: #622569; }

a:link{
    color:#622569;
}
a:visited {
  color: #5b9aa0;
}
a:hover {
    text-decoration: none;
    color: #b8a9c9;
}

.grid-container {
    width: 40%;
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-left: 20em;
}
  
.grid-item {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px; 
}
  

img{
    max-height: 100%;
    height: 18em;
    padding: 5em; 
    float: left;
   }

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    background-color: #b8a9c9;
    
}

.button1 {
    position: relative;
    top: -46em;  
    display: block;
    margin-left: auto;
    margin-right: 50em;
    background-color:#622569;
    border-radius: 8px;
    border: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.button2 {
    position: relative;
    top: -46em;  
    display: block;
    margin-left: auto;
    margin-right: 50em;
    background-color: #b8a9c9;
    border-radius: 8px;
    border: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.button3 {
    position: relative;
    top: -46em;  
    display: block;
    margin-left: auto;
    margin-right: 50em;
    background-color: #5b9aa0;
    border-radius: 8px;
    border: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

nav {
    padding: .5em;
    position: sticky;
    top: 0; 
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  nav a {
   
    text-decoration: none;
    padding: .5em 1em;
  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
}
ul li { padding: 5px 0px; }


table {
    width: 40%;
    border: 1px solid;
    margin-top: 9em;
}
th {
    border: 1px solid;
    padding: 20px;
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
td {
    text-align: right;
    text-align:left;
    font-family: monospace;
    font-size: 12px;
}
td, th{
   padding:.5em;
   color:#622569;
}

#skillsH{
   margin-right: 20em;
}
#tk{
    border-collapse: collapse;
   
}

@media screen and (max-width: 400px) {
    h1{
        color: #5b9aa0;
        font-size: 22px;
    }
    body{
        background-color: white;
    }
    body p{
        color: #5b9aa0;
       
        margin-top: 1em;
        margin-right: 0em;
        margin-left: 5em;
        width: 150%;
        font-size: 12px;
    }
    img{
        max-height: 100%;
        height: 8em;
        padding: 3em; 
        margin-right: 0em;
        margin-left: 9em;
    }
    nav {
        font-size: 11px;
        margin-right: 0em;
        margin-left: 20em;
    }
    nav ul {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
    }
    nav a {
        
        width: 100%;
        text-decoration: none;
        padding: 5em 5em;
    }
    hr{
        display: none;
    }
    #myHeader{
        margin-left: 8em;
    }
    #proj{
        margin-left: 8em;
        color:#622569;
    }
    #tk{
        margin-left: 20em;
    }
    #ed{
        margin-left: 8.5em;
        color:#622569;
    }
    .grid-container{
        margin-left: 8em;
    }
    .grid {
        margin: 0 auto;
        padding: 0 20px;
        max-width: 980px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px; 
    }
    #syd{
        max-height: 100%;
        height: 8em;
        padding: 3em; 
        margin-right: 0em;
        margin-left: 5em;
    }
}
@media screen and (min-width: 1900px) {
    .grid {
        margin: 0 auto;
        padding: 0 20px;
        max-width: 980px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px; 
    }
    body{
        background-color: #b8a9c9;
        text-align: center;
    }
    h1{
        text-align: center;
        position:relative; left:-5em; top:0em;
    }
    a:visited {
        color: #622569;
    }
    #tk{
        width: 850px; 
        margin-right: auto; 
        margin-left: auto; 
    }
    #skill{
        position:relative; left:-23em; top:0em;
    }

}
